<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>400 Bad Request</title>
<!--  <script type="text/javascript" th:inline="javascript" th:src="@{/js/bootstrap.min.js}"></script> -->
<script type="text/javascript" src="/webjars/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" th:inline="javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--  <script type="text/javascript" th:inline="javascript" th:src="@{/js/jquery.min.js}"></script> -->
 
<!--  <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/> -->
 <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
	<h1 class="text-primary text-jumbo">400 Bad Request</h1>
	<p th:text="${exception.getMessage()}">Some message goes here</p>
</div>
</body>
</html>